<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="service.host" value=""/>
    <add key="service.port" value=""/>
    <add key="service.description" value=""/>
    <add key="service.displayname" value=""/>
    <add key="service.name" value=""/>
    <add key="service.startmode" value=""/>
  </appSettings>
</configuration>