<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="hangfire.dashboardenabled" value="" />
    <add key="hangfire.enabled" value="" />
    <add key="hangfire.memorystorage.enabled" value="" />
    <add key="hangfire.sqlstorage.enabled" value="" />
    <add key="hangfire.sqlstorage.connectionstring" value="" />
    <add key="pushover.apitoken" value="" />
    <add key="pushover.defaultsendkey" value="" />
    <add key="pushover.isenabled" value="" />
    <add key="service.host" value="" />
    <add key="service.port" value="" />
    <add key="service.description" value="" />
    <add key="service.displayname" value="" />
    <add key="service.name" value="" />
    <add key="service.startmode" value="" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>