source https://api.nuget.org/v3/index.json

framework: >= net462

nuget FluentAssertions ~>  4.14
nuget Moq >= 4.5.9
nuget Microsoft.Owin.Hosting >= 3.0.1
nuget Microsoft.Owin.Host.HttpListener >= 3.0.1
nuget Nancy.Owin ~> 1.4.1
nuget NUnit ~> 3.4
nuget SemVer.Git.MSBuild >= 1.1.0 content:once
nuget Topshelf  >= 4.0.3
nuget Topshelf.Serilog  >= 4.0.3
nuget VaraniumSharp.Initiator >= 1.0.4